<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website</title>
</head>
<body>
    <h1>Website</h1>
    <p><strong>Inventory Hostname:</strong> {{ inventory_hostname }}</p>
    <p><strong>EC2 Hostname:</strong> {{ inventory_hostname }}</p>
    <p><strong>Private IP Address:</strong> {{ ansible_facts.default_ipv4.address }}</p>
</body>
</html>
